# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ValheimPlus.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\TheWh\Documents\GitHub\ValheimPlus\.idea\.idea.ValheimPlus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
