[Player]
enabled=false
; enable/disable Player changes

baseMegingjordBuff=150
; default is 150 (float)
; Ingame Tooltip is not affected

baseMaximumWeight=300
; default is 300 (float)

baseAutoPickUpRange=2
; default is 2 (float)


[Food]
enabled=false
; enable/disable Food changes

foodDurationMultiplier=0.0
; default is 0, it adds to the value meaning 0.0 is 100%, 1 is 200%.

[Fermenter]
enabled=false
; enable/disable Fermenter changes

fermenterDuration=2400
; default is 2400 (float) (24 ingame hours ?)
; lower is faster

fermenterItemsProduced=4
; default is 4 (integer) items per fermenter process

[Furnace]
enabled=true
; enable/disable Furnace changes

maximumOre=10
; default is 10 (int)

maximumCoal=10
; default is 10 (int)

productionSpeed=2
; default it 10 (float)
; lower is faster

coalUsedPerProduct=4
; default is 4 (int)

[Kiln]
; Responsible for changing Charcoal Kiln stats

enabled=true
; enable/disable Kiln changes

productionSpeed=2
; default it 10 (float)
; lower is faster


[Items]
enabled=false
; enable/disable Building changes

noTeleportPrevention=false
; default is false (boolean)

baseItemWeightReduction=0
;(float), removes from value (original - (original * baseItemWeightReduction). 
; 1 is 100% weight reduction of every item, 0.5 is 50%.

[Building]
enabled=false
; enable/disable Building changes

noInvalidPlacementRestriction=false
; (boolean) Removes the "Invalid Placement" restriction

noWeatherDamage=false
; Removes weather/rain damage on building objects

[Beehive]
enabled=false
; enable/disable Beehive changes

maximumHoneyPerBeehive=4
; (integer) default is 4.

honeyProductionSpeed=10
; (float), default is 10. Do not go lower than 5.
; lower is faster



[Server]
enabled=false
; enable/disable Server changes

maxPlayers=10
; (int) default is 10

disableServerPassword=false
; (boolean) default is false

[Map]
enabled=false
; enable/disable Map changes

exploreRadius=100
; default 100 (float), the radius around each player that get explored

shareMapProgression=true
; default false (boolean), shares the map progress (reveal) across all players
; players need to be online to receive map progression
; only shares the map progression of people that have selected to be visible on the map

[Hotkeys]
enabled=false
; enable/disable all hotkeys changes
; https://docs.unity3d.com/ScriptReference/KeyCode.html <- a list of keycodes

rollForwards=F9
; roll forward on button press

rollBackwards=F10
; roll backwards on button press
enterAdvancedBuildingMode=F1
; Freeze Object and allow advanced controls
exitAdvancedBuildingMode=F3
; Unfreeze Object and use default place mode

[AdvancedBuildingMode]
enabled=true
; enables advanced building mode, more info on the github page