<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="5.0.2" targetFramework="net40" developmentDependency="true" />
  <package id="Fody" version="6.3.0" targetFramework="net40" developmentDependency="true" />
  <package id="HarmonyX" version="2.3.1" targetFramework="net40" />
  <package id="ini-parser" version="2.5.2" targetFramework="net40" />
  <package id="Mono.Cecil" version="0.11.3" targetFramework="net40" />
  <package id="MonoMod.RuntimeDetour" version="20.11.26.2" targetFramework="net40" />
  <package id="MonoMod.Utils" version="20.11.26.2" targetFramework="net40" />
  <package id="YamlDotNet" version="9.1.4" targetFramework="net40" />
</packages>